

.subscribe{
    width: 100%;
    margin-top: -1.4%;
    height: 2.8rem;
    background-color: black;
    /* outline: 2px solid red; */
}
.subscribe p{
    font-size: 25px;
    padding: 8px;
    color: aliceblue;
    text-align: center;
}
.menu{
    font-size: 30px;
    color: rgb(3, 3, 3);
    float: right;
    line-height: 80px;
    margin-right: -140px;
    outline: 2px solid red;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 1168px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    .subscribe {
        height: 30px;
    }
    .subscribe p{
        font-size: 13px;
    }
    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        /* outline: 2px solid red; */
        margin-top: -40px;
    }
    ul{
        position: fixed;
        width: 40%;
        height: 100vh;
        background-color: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;

    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 6%;
    }

}

.logo img{
    width: 13rem;
    height: 13rem;
    /* outline: 2px solid; */
    
}
.icon{
    outline: 2px solid rgb(3, 1, 1);
    padding: 3.5px 2.1px;
    height: 20px;
    width: 1.5rem;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-image: url(./images/cart-alt-solid-24.png);
    color: rgb(245, 245, 245);
    /* background-color: black; */
    cursor: pointer;
}
.inactive{
   display: none; 

}
.buttonsearch {
    outline: wpx solid red;
}
#cart-icon{
    /* outline: 2px solid rgb(248, 14, 14); */
    font-size: 2.8rem;
    cursor: pointer;
}
/* Cart */
.cart{
    position:fixed;
    top: 0; 
    right: 0;
    /* outline: 2px solid red; */
    width: 490px;
    height: 100vh;
    padding: 20px;
    /* background: var(--bg-color); */
    background-color: #b4b4c5;
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
    z-index: 200;
}

.cart-active{
    right: 0;
}
.cart-title{
   text-align: center;
   font-size: 1.5rem;
   font-weight: 600;
   margin-top: 2rem; 
}
.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    margin-top: 1rem;
    /* outline: 20px solid red; */
}
.cart-img{
    /* outline: 2px solid red; */
    width: 200px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}
.detail-box{
    display: grid;
    /* outline: 2px solid red; */
    row-gap: 0.5rem;
}
.cart-product-title{
    font-size: 1rem;
    text-transform: uppercase;

}
.cart-price{
    font-weight: 500;
}
.cart-quantity{
    border: 1px solid red;
    outline-color: red;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}
.cart-remove{
    /* outline: 2px solid rgb(4, 0, 255); */
    padding: 20px;
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;
}
.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
}
.total-title{
    font-size: 1rem;
    font-weight: 600;
}
.total-price{
    margin-left: 0.5rem;
}
.btn-buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.btn-buy:hover{
    background: var(--text-color);
}
#close-cart{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}
.home-txt{
    margin-top: 6%;
    color: #000000b9;
    font-size: 20px;
    text-align: center;
}
.home-txt span{
    color: #000;
    font-size: 40px;
    font-style: bold;
}
.new p{
    text-align: center;
}
.search button{
    padding: 15px;
    margin-left: 25%;
    width: 50%;
    border-radius: 20px;
}
.menu-content{
    display: grid;
    width: 75%;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 11rem;
    /* outline: 2px solid red; */
    margin-left: 10%;
    align-items: center;
    margin-top: 4rem;
    cursor: pointer;
}
.row img{
    border-radius: 10px;
    /* outline: 2px solid red; */
    width: 150%;
    padding: 22px;
}
.star img{
   width: 17px;
   height: 15px;
   background: rgba(255, 255, 255, 0.418);
   outline: 2px solid;
   margin-right: 4px;
   padding: 0;
   color: rgba(236, 229, 229, 0.329);
}
.menu-text{
    margin-top: -10%;
    /* outline: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 0;
}
.menu-left h4{
    font-size: 30px;
}
.menu-left h5{
    color: rgba(0, 0, 0, 0.521);
    font-size: 23px;
}
.menu-right img{
    width: 20%;
    padding: 3%;
    margin-left: 120px;
    margin-top: 120px;
    outline: 2px solid;
}
.row p{
    width: 70%;
    color: var(--second-color);
    font-size: 15px;
    line-height: 30px;
    outline: 2px solid ;
    margin-top: -10%;
}
.row:hover{
    transform: scale(1.06);
}
.row2{
    display: grid;
    border-radius: 30px;    margin-bottom: 20%;
    outline: 2px solid var(--main-color);
    grid-template-columns: repeat(auto-fit, minmax(30px, auto));
}
footer{
    
    grid-template-columns: repeat(auto-fit, minmax(330px, auto));
    display: grid;
    margin-top: 15%;
    /* outline: 2px solid; */
    background-color: #b4b4c56b;
}
footer img{
    width: 25%;
}
.newsletter{
    padding: 35px;
    width: 91%;
    /* outline: 2px solid ; */
}
.newsletter h2{
    font-size: 2.2rem;
}
.newsletter h4{
    color: #00000056;
    margin-top: -2%;
}
.contact-form{
    padding: 2rem 0;
    border-top: 1px solid white;
}
.contact-form form{
    padding-bottom: 1rem;
}
.form-control{
    width: 44%;
    border: 1.5px solid #262333;
    border-radius: 0.7rem;
    padding: 0.7rem;
    margin: 0.6rem 0;
}
.form-control:focus{
    box-shadow: 0 0 3px -3px black;
}
.contact-form form div{
    display: grid;
    grid-template-columns: repeat(1fr);

}
.send-btn{
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    background: rgb(14, 16, 82);
    padding: 10px;
    cursor: pointer;
    margin-left: 0;
}
.send-btn:hover{
    opacity: 0.8;
}

.contact-form > div{
    margin: 0 auto;
    text-align: center;
}

.contact-footer h3{
    text-align: center;
}
footer .contact {
    padding: 10%;
    /* outline: 2px solid red; */
}
footer .contact h2{
    font-size: 3rem;
}
footer .contact p{
    margin-top: -5%;
    color: #00000056;
}
footer .socials img{
    border-radius: 20px;
    width: 5%;
    background-color: rgba(16, 10, 41, 0.178);
}