*{
    /* font-family: 'Russo One', sans-serif; */
    margin: 0;
    margin-top: 10px;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
} 
body{
    
    padding: 0;
    margin: 0;
    /* background-color: #00000033;     */
}
.subscribe{
    width: 100%;
    margin-top: -1.4%;
    height: 2.8rem;
    background-color: black;
    /* outline: 2px solid red; */
}
.subscribe p{
    font-size: 25px;
    padding: 8px;
    color: aliceblue;
    text-align: center;
}
/* Header */
header{
    /* position: fixed; */
    top: 0;
    /* margin-left: 5%; */
    width: 100%;
    z-index: 100;
    /* box-shadow: 0 1px 4px hsl(0 4% 15% / 10%); */
}
nav{
    background: rgba(16, 17, 58, 0);
    height: 100px;
    width: 100%;
}
label.logo {
    color: white;
    font-size: 30px;
    width: 30px;
    /* outline: 2px solid rgb(250, 246, 246); */
    margin-top: 6px;
    margin-left: 4%;
    outline: 2px solid;
    /* line-height: 90px; */
}
label.logo img{
    width: 10%;
    margin-left: 10%;
   
}
nav ul{
    float: right;
    margin-top: 4%;
    margin-right: 490px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}
nav ul li a{

    color: rgb(5, 5, 5);
    font-size: 17px;
    text-transform: uppercase;
    padding: 8px 13px;

}
nav ul li a:hover{
    outline: 2px solid;
    color: #000;
    border-radius: 12px;
    background-color: rgba(240, 248, 255, 0.637);
}
.searchbar {
    width: 90%;
    padding: 10px;
    border-radius: 10px;
}
.menu{
    /* outline: 2px solid red; */
    font-size: 30px;
    color: aliceblue;
    float: right;
    line-height: 80px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}


@media (max-width: 1168px){

    .subscribe {
        height: 30px;
    }
    .subscribe p{
        font-size: 13px;
    }
    label.logo{
        font-size: 10px;
        padding-left: 50px;
    }
    nav ul li a{
        color: white;
        font-size: 26px;
        line-height: 50px;
    }

    .menu{
        display: block;
    }

    ul{
        position: fixed;
        width: 350px;
        height: 100vh;
        background-color: #030302de;
        top: 50px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;

    }
   
    a:hover,a.active{
        padding: 10px 10px;
        background: none;
        outline: 2px solid;
        color: #8a8e91;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
.icon{
    margin-left: 206px;
    margin-top: 17px;
    /* outline: 2px solid rgb(3, 1, 1); */
    padding: 3.5px 7.1px;
    height: 20px;
    width: 1.5rem;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-image: url(./images/cart-alt-solid-24.png);
    color: rgb(245, 245, 245);
    /* background-color: black; */
    cursor: pointer;
}
.inactive{
   display: none; 

}

#cart-icon{
    /* outline: 2px solid rgb(248, 14, 14); */
    font-size: 2.8rem;
    cursor: pointer;
}
/* Cart */
.cart{
    position:fixed;
    top: 0; 
    right: 0;
    /* outline: 2px solid red; */
    width: 490px;
    height: 100vh;
    padding: 20px;
    /* background: var(--bg-color); */
    background-color: #b4b4c5;
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
    z-index: 200;
}

.cart-active{
    right: 0;
}
.cart-title{
   text-align: center;
   font-size: 1.5rem;
   font-weight: 600;
   margin-top: 2rem; 
}
.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    margin-top: 1rem;
    /* outline: 20px solid red; */
}
.cart-img{
    /* outline: 2px solid red; */
    width: 200px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}
.detail-box{
    display: grid;
    /* outline: 2px solid red; */
    row-gap: 0.5rem;
}
.cart-product-title{
    font-size: 1rem;
    text-transform: uppercase;

}
.cart-price{
    font-weight: 500;
}
.cart-quantity{
    border: 1px solid red;
    outline-color: red;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}
.cart-remove{
    /* outline: 2px solid rgb(4, 0, 255); */
    padding: 20px;
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;
}
.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
}
.total-title{
    font-size: 1rem;
    font-weight: 600;
}
.total-price{
    margin-left: 0.5rem;
}
.btn-buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.btn-buy:hover{
    background: var(--text-color);
}
#close-cart{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}
.home-txt{
    margin-top: 8%;
    color: #000000b9;
    font-size: 20px;
    margin-bottom: -5%;
    text-align: center;
}
.home-txt span{
    color: #000;
    font-size: 40px;
    font-style: bold;
}
.new p{
    text-align: center;
}
.menu-content{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 2rem;
    /* outline: 2px solid red; */
    margin-left: 8%;
    align-items: center;
    margin-top: 4rem;
    cursor: pointer;
}
.row img{
    border-radius: 10px;
    /* outline: 2px solid red; */
    width: 120%;
    padding: 22px;
}
.star{
    /* outline: 2px solid; */
    margin-left: 30px;
}
.star img{
    margin-top: 10%;
   width: 17px;
   height: 15px;
   outline: 2px solid;
   background: rgba(255, 255, 255, 0.418);
   outline: 2px solid;
   margin-right: 3px;
   padding: 0;
   color: rgba(236, 229, 229, 0.329);
}
.menu-text{
    margin-top: -10%;
    /* outline: 2px solid red; */
    display: flex;
    margin-left: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0;
}
.menu-left h4{
    font-size: 30px;
    margin-left: 10px;
}
.menu-left h5{
    color: rgba(0, 0, 0, 0.521);
    font-size: 23px;
    margin-left: 10px;
}

.row p{
    margin-left: 30px;

    width: 70%;
    color: var(--second-color);
    font-size: 15px;
    line-height: 30px;
    outline: 2px solid ;
    margin-top: 9%;
}
.row:hover{
    transform: scale(1.06);
}
.row2{
    display: grid;
    border-radius: 30px;    margin-bottom: 20%;
    outline: 2px solid var(--main-color);
    grid-template-columns: repeat(auto-fit, minmax(30px, auto));
}
.cartpage{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
}
.cartpage button{
    padding: 10px;
}
footer{
    
    grid-template-columns: repeat(auto-fit, minmax(330px, auto));
    display: grid;
    margin-top: 15%;
    /* outline: 2px solid; */
    background-color: #b4b4c54b;
}
footer img{
    width: 25%;
}
.newsletter{
    padding: 35px;
    width: 91%;
    /* outline: 2px solid ; */
}
.newsletter h2{
    font-size: 2.2rem;
}
.newsletter h4{
    color: #00000056;
    margin-top: -2%;
}
.contact-form{
    padding: 2rem 0;
    border-top: 1px solid white;
}
.contact-form form{
    padding-bottom: 1rem;
}
.form-control{
    width: 44%;
    border: 1.5px solid #262333;
    border-radius: 0.7rem;
    padding: 0.7rem;
    margin: 0.6rem 0;
}
.form-control:focus{
    box-shadow: 0 0 3px -3px black;
}
.contact-form form div{
    display: grid;
    grid-template-columns: repeat(1fr);

}
.send-btn{
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    background: rgb(14, 16, 82);
    padding: 10px;
    cursor: pointer;
    margin-left: 0;
}
.send-btn:hover{
    opacity: 0.8;
}

.contact-form > div{
    margin: 0 auto;
    text-align: center;
}

.contact-footer h3{
    text-align: center;
}
footer .contact {
    padding: 10%;
    /* outline: 2px solid red; */
}
footer .contact h2{
    font-size: 3rem;
}
footer .contact p{
    margin-top: -5%;
    color: #00000056;
}
footer .socials img{
    border-radius: 20px;
    width: 5%;
    background-color: rgba(16, 10, 41, 0.432);
}
footer h5{
    color: #665d5d77;
    margin-top: 20%;
}
@media screen and (max-width: 1516px){
 
    header{
        width: 90%;
        margin-top: 0px;
        padding: 5px 5px 5px 5px;
        /* outline: 2px solid; */
    }
    
    .container{
        width: 100%;
    }
    .menu-content{
        width: 90%;
        margin-left: 0;
    }
    

    .menu-text{
        margin-left: 20px;
    }
    .star{
        margin-left: 20px;
    }
    p{
        margin-left: 20px;
    }
}
@media screen and (max-width: 1150px){
    .footer{
        width: 100%;
    }
    .menu-content{
        width: 89%;
    }
    .subscribe{
        width: 100%;
    }
}
@media screen and (max-width: 540px){
    label.logo{
        width: 20%;
    }
    .subscribe{
        width: 100%;
    }
 
}
@media screen and (max-width: 414px){
    header{
        margin-top: -20px;
    }
    .icon{
        margin-left: 200px;
    }
    .menu {
        /* outline: 2px solid; */
       margin-left: 17px;
       width: 7%;
    }
    .menu img{
        margin-top: -50%;
    }
    .form-control{
        width: 90%;
    }
    
    .home-txt{
        margin-top: 30px;
        /* margin-bottom: 90px; */
        font-size: 15px;
        border-radius: 5px;
        width: 86%;
        color: rgba(0, 0, 0, 0.527);
        background-color: rgba(0, 0, 0, 0.075);
        margin-left: 28px;
        /* outline: 2px solid; */
    }
    .home-txt span{
        font-size: 20px;
        color: rgb(0, 0, 0);
    }
    .menu-content{
        margin-left: 1px;
        width: 76%;
        margin-top: -20px;
    }
    .menu {
        margin-top: 4%;
        /* outline: 2px solid; */
    }
    .menu img{
        margin-right: -3%;
    }
    .star{
        margin-top: 30px;
    }
    label.logo img{
        margin-top: 13px;
        width: 20%;
        margin-left: -21px;
    }
  
}
@media screen and (max-width: 390px){
    body{
        margin-top: 40px;
        /* width: 95%; */
        /* padding: 30px; */
        
    }
  
    label.logo img{
        margin-top: 13px;
        width: 20%;
        margin-left: -21px;
    }

    .home-txt{
        margin-left: 35px;
        width: 80%;
        font-size: 10px;
    }
   
 
    .subscribe{
        margin-top: -40px;
    }
    header{
        margin-top: -20px;
    }
    .icon{
        margin-left: 200px;
    }
    .menu {
        /* outline: 2px solid; */
       margin-left: 14px;
       width: 7%;
    }
    .menu img{
        margin-top: -50%;
    }
    

}
@media screen and (max-width: 367px){
    body{
        padding: 10px;
        width: 90%;
    }
    html{
        width: 100%;
    }
    .menu-content{
        width: 100%;
    }
    .icon{
        margin-left: 175px;
    }
}